# compiled output
/Task-Management/dist
/Task-Management/node_modules

# Logs
/Task-Managementlogs
/Task-Management*.log
/Task-Managementnpm-debug.log*
/Task-Managementpnpm-debug.log*
/Task-Managementyarn-debug.log*
/Task-Managementyarn-error.log*
/Task-Managementlerna-debug.log*

# OS
/Task-Management/.DS_Store

# Tests
/Task-Management/coverage
/Task-Management/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json